/*.add_designation_form_sec {
  width: 85%;
   position: absolute;
   right: 0;
   top: 225px;
   padding: 15px 30px;
}*/
.dsgnation_form input[type="submit"] {
    width: auto;
}

.submitdptbtn {
    float: right;
    width: 100%;
    clear: both;
    margin: 10px 0;
}