.mini_select_field {
    width: 34% !important;
    margin: 0px 11px 0 0 !important;
    float: left;
}
.mini_input_field {
    width: 33% !important;
    margin: 0px 0px 0 0 !important;
    float: left;
}
.input-label.input-label-togle {
    width: 30%;
}
